@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
    font-family: 'Noto Sans JP', sans-serif;
    color:black;
    background-color: #C7EFCF;
    text-align: center;
    }
header{
    width: 100%;
    height: 600px;
    background-image:url("https://drive.google.com/uc?export=view&id=1DsYNb5oFTI354LeKV7G5fw4z49JsT9qh");
    background-size: cover;
}
.image{
    margin-top: 100px;

}
.self-image{ 
    border-radius: 50px;
    margin: 80px;
    border: double 10px palegoldenrod;}
.back-ground{
    text-align: center;
}
.birthTime{
    color: red;
}
table, td, th {
    border: double 2px white;
    background: rgb(240, 207, 109);
    color: darkblue;
    }
.list{
    height: 200px;
    font-size: 20px;
}
ul{
    float: left;
    position: relative;
    left: 47%;
}
li{
    position: relative;
    left: -47%
}
.my-big{
    font-size: 50px;
}
.my-blue{
    color: #55acee;
}
.youtube{
    margin: 10px 0 0 0;
}
